<!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="./styles.css" rel="stylesheet" />
        <title>Resume</title>
      </head>
      <body>
        <header class="header-layout">
          <div class="header-name-div">
            <h1>d</h1>
          </div>
          <div class="header-location-div">
            <h3>d, d</h3>
          </div>
          <div class="header-links-div">
            <h3>
              LinkedIn: d |
              Github: d | Portfolio:
              d
            </h3>
          </div>
        </header>

        <section class="summary-section">
          <div class="summary-header-div">
            <h2>Summary</h2>
          </div>
          <div class="summary-paragraph-div">
            <p>
                d
            </p>
          </div>
        </section>

        <section class="tech-skills-section">
          <div class="tech-skills-header">
            <h2>Technical Skills</h2>
          </div>
          <div class="tech-skills-paragraph">
            <p>
              Front end skills: d
            </p>
            <p>
              Back end skills: d
            </p>
          </div>
        </section>

        <section class="projects-section">
          <div class="projects-header">
            <h2>Projects</h2>
          </div>
          <div class="projects-content">
            <h4>
              d |
            <a href="d"
                >d</a
              >
              |
              <a href="d"
                >d</a
              >
            </h4>
            <ul>
              <li>
               d
              </li>
              <li>
                d
              </li>
              <li>
                d
              </li>
              <li>Front end tools used: d</li>
              <li>Back end tools used: d</li>
            </ul>
          </div>
        </section>

        <section class="experience-section">
          <div class="experience-header">
            <h2>Experience</h2>
          </div>

          <div class="work-history">
            <div class="work-title">
              <p><strong>d</strong></p>
              <p><strong>d</strong></p>
            </div>
            <div class="work-time">
              <p>d-d</p>
              <p>d, d</p>
            </div>
          </div>

          <div class="work-summary">
            <p>
              d
            </p>
          </div>

          <div class="key-list">
            <ul>
              <li>
                d
              </li>
              <li>d</li>
              <li>d</li>
            </ul>
          </div>
        </section>

        <section class="education-section">
          <div class="education-header">
            <h2>Education</h2>
          </div>

          <div class="education-title">
            <p>
              <strong
                >d: d, d,
                d</strong>
              >
            </p>
          </div>

          <div class="education-summary">
            <p>
              d
            </p>
          </div>
        </section>
      </body>
    </html>
    