<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./styles.css" rel="stylesheet" />
    <title>Resume</title>
  </head>
  <body>
    <header class="header-layout">
      <div class="header-name-div">
        <h1>Riley Newhart</h1>
      </div>
      <div class="header-location-div">
        <h3>Orlando, FL</h3>
      </div>
      <div class="header-links-div">
        <h3>
          LinkedIn: https://www.linkedin.com/in/riley-newhart-667b43128/ |
          Github: https://github.com/Rilaey | Portfolio:
          https://rileynewhart.com/
        </h3>
      </div>
    </header>

    <section class="summary-section">
      <div class="summary-header-div">
        <h2>Summary</h2>
      </div>
      <div class="summary-paragraph-div">
        <p>
          As a full-stack web developer, this candidate brings a passion for
          building robust and scalable web applications. With a strong
          foundation in both front-end and back-end development. This candidate
          is a quick learner with a keen eye for detail, delivering high-quality
          code that meets user requirements and exceeds expectations. Their
          excellent communication and collaboration skills make them a great
          team player, eager to contribute their skills to create innovative
          solutions to complex problems.
        </p>
      </div>
    </section>

    <section class="tech-skills-section">
      <div class="tech-skills-header">
        <h2>Technical Skills</h2>
      </div>
      <div class="tech-skills-paragraph">
        <p>
          Front end skills: HTML, CSS, Bootstrap, Responsive Design, Javascript
          and JQuery.
        </p>
        <p>
          Back end skills: React, OOP, Express, Node, GraphQl, SQL, MongoDB,
          Redux and Web.
        </p>
      </div>
    </section>

    <section class="projects-section">
      <div class="projects-header">
        <h2>Projects</h2>
      </div>
      <div class="projects-content">
        <h4>
          The Mars Market |
          <a href="https://github.com/Rilaey/The-Mars-Market"
            >https://github.com/Rilaey/The-Mars-Market</a
          ><a href="https://github.com/Rilaey/The-Mars-Market"
            >https://github.com/Rilaey/The-Mars-Market</a
          >
          |
          <a href="http://www.themarsmarket.com/"
            >http://www.themarsmarket.com/</a
          >
        </h4>
        <ul>
          <li>
            Looking for the next out of this world market place? Check out The
            Mars Market featuring a seamless user experience allowing for easy
            browsing and fast checkout. Signing up only takes seconds so give
            this app a try today.
          </li>
          <li>
            For this final school project, I took the roles of building the
            backend which included GraphQl mutations , MongoDB Atlas, and
            implementing paypal. I also created custom reusable components for
            the front end.
          </li>
          <li>Front end tools used: React, Tailwind, DaisyUI</li>
          <li>Back end tools used: Node, Express, GraphQl, MongoDB, Paypal</li>
        </ul>
      </div>
    </section>
  </body>
</html>
